# Production static files folder
/static_assets/

# Dev folders and files
/.idea/
/bin/
/include/
/lib/
/lib64
**/*.pyc

# Virtual environment
/venv/

# Databases and docker volumes
/volumes/
db.sqlite3

# Configurational files
.env
credentials.json
general.json
jenkins.json

# Log files
*.log