{% load static %}
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th class="cols">Column Name</th>
                {% if src_db_type %}
                <th class="cols">Src(<img src="{% static 'assets/img/' %}{{src_db_type}}.png" width="40" height="40"
                                      alt="{{src_db_type}}">)</th>
                {% else %}
                <th class="cols">Src</th>
                {% endif %}
                {% if dst_db_type %}
                <th class="cols">Dst(<img src="{% static 'assets/img/' %}{{dst_db_type}}.png" width="40" height="40"
                                      alt="{{dst_db_type}}">)</th>
                {% else %}
                <th class="cols">Dst</th>
                {% endif %}
            </tr>
            {% for res in data_type_compare_res %}
            <tr>
                <td>{{ res.column_name }}</td>
                <td>{{ res.src_data_type }}</td>
                <td>{{ res.dst_data_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>