{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-xl">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Compare</h5>
            </div>
            <div class="card-body">
                <form action="{% url 'dbs:compare_db_res' %}" method="post">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            Source
                                <div class="form-group">
                                    <select class="form-select" name="src_db" data-size="5" data-width="50%">
                                    {% for db_in in db_instance_or %}
                                        <option value="{{ db_in.id }}">
                                            <span class='badge badge-secondary'>{{ db_in.name }} - {{ db_in.username }} @ {{ db_in.host }} : {{ db_in.port }}
                                                ({{db_in.type}})</span>
                                        </option>
                                    {% endfor %}
                                    </select>
                                </div>
                        </tr>
                        <tr>
                            Destination
                            <div class="form-group">
                                <select class="form-select" name="dst_db" data-size="5" data-width="50%">
                                {% for db_in in db_instance_pg %}
                                    <option value="{{ db_in.id }}">
                                            <span class='badge badge-secondary'>{{ db_in.name }} - {{ db_in.username }} @ {{ db_in.host }} : {{ db_in.port }}
                                                ({{db_in.type}})</span>
                                    </option>
                                {% endfor %}
                                </select>
                            </div>
                        </tr>
                    </table>
                    <div class="form-group">
                        <button class="btn btn-warning" type="submit" name="compare" value="compare">Compare it!</button>
                    </div>
                </form>
                <div class="card-body">
                    <table class="table"
                           data-toolbar="#toolbar"
                           data-toggle="table"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-columns="false"
                           data-url="{% url 'api:dbcompare-list' %}?format=json"
                           data-response-handler="responseHandler">
                        <caption>Comparison Results</caption>
                        <thead>
                        <tr>
                            <th data-field="src_db" data-sortable="true" data-formatter="extraInfoFormatter" scope="colgroup">Source</th>
                            <th data-field="dst_db" data-sortable="true" data-formatter="extraInfoFormatter" scope="colgroup">Destination</th>
                            <th data-sortable="true" data-formatter="extraInfoFormatter2" scope="col">Last Compared</th>
                            <th data-field="src_db" data-formatter="operationFormatter" scope="col">Results</th>
                        </tr>
                        </thead>
                    </table>
            </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function responseHandler(res) {
        var flatArray = [];
        $.each(res.results, function(i, element) {
            flatArray.push(element);
        });
        load(flatArray)
        return flatArray;
    }

    function load(flatArray){
        $('#table').bootstrapTable("load", flatArray);
    }

    function extraInfoFormatter(value, row, index) {
        var html = []
        if(typeof(value) != undefined) {
            html.push('<p align="left">')
            if (row) {
                html.push(value.name + '-' + value.username + '@' + value.host + ' : ' + value.port)
                html.push("(<img src={% static 'assets/img/' %}" + value.type + ".png width='40' height='40'>)")
            }
            html.push('</p>')
        }
        return html.join('')
    }

    function extraInfoFormatter2(value, row, index) {
        var html = []
        if(typeof(value) != undefined) {
            html.push('<p align="center">')
            if (row) {
                html.push(row.last_compared)
            }
            html.push('</p>')
        }
        return html.join('')
    }

    function operationFormatter(value, row, index) {
        var url_mask =
            "{% url 'dbs:compare_db_results' id1=999999999 id2=666666666 %}"
                .replace('999999999', row.src_db.id)
                .replace('666666666', row.dst_db.id);
        return [
            '<p align="center">',
            '{% csrf_token %}',
            '<a href="' + url_mask + '" >',
            '<button id="btn-results" type="button" value="" class="btn btn-icon btn-info" title="Results">',
            '<i class="fa fa-registered" aria-hidden="true"></i>',
            '</button>',
            '</a>',
            '</p>',
        ].join('')
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if(typeof value === "string" || typeof value === "boolean" || value === parseInt(value, 10)) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            }
            if(typeof value === "object") {
                html.push('<p><b> ' + key + '{ </b>')
                $.each(value, function (key1, value1) {
                    html.push('<p><b>' + key1 + ':</b> ' + value1 + '</p>')
                });
                html.push('} </p>')
            }
        });
        return html.join('')
    }
</script>
{% endblock javascripts %}
