{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row mw-100">
                <div class="col-xl float-xl-left">
                    <div id="jobsExecuted" style="min-width: 110px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-xl float-xl-right">
                    <div id="graphTableProcessed" style="min-width: 110px; height: 400px; margin: 0 auto"></div>
                </div>
        </div>
        <div class="row mw-100">
            <div class="col-xl float-xl-left">
                <div id="postRequest" style="min-width: 110px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
  $(function () {
    $('#jobsExecuted').highcharts({
         chart: {
           type: 'line'
         },
         title: {
           text: 'DB Comparison'
         },
        xAxis: {
           categories: [ {% for entry in data_compared_req %}'{{ entry.month }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
        },
         yAxis: {
           min: 0,
           title: {
             text: 'Counts'
           }
         },
         tooltip: {
           headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
           pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
           footerFormat: '</table>',
           shared: true,
           useHTML: true
         },
         plotOptions: {
             series: {
                 label: {
                     connectorAllowed: false
                 },
                 pointStart: 0
             }
         },
        series: [{
          name: 'DB compared',
          data: [{% for entry in data_compared_req %}{{ entry.y }}{% if not forloop.last %}, {% endif %}{% endfor %}],
        color: 'skyblue'
        }]
       });
      $('#graphTableProcessed').highcharts({
             chart: {
                 type: 'column'
             },
             title: {
                 text: 'Copied'
             },
             xAxis: {
                 categories: [{% for entry in rows_insert %}'{{ entry.month }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
        },
      yAxis: {
          min: 0,
              title: {
              text: 'Counts'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                           '<td style="padding:0"><b>{point.y}</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
      },
      plotOptions: {
          series: {
              label: {
                  connectorAllowed: false
              },
              pointStart: 0
          }
      },
      series: [{
          name: 'Tables Copied',
          data: [{% for entry in rows_insert %}{{ entry.y }}{% if not forloop.last %}, {% endif %}{% endfor %}],
      color: 'lightgreen'
  }]
  });
      $('#postRequest').highcharts({
           chart: {
               type: 'line'
           },
           title: {
               text: 'Requests'
           },
           xAxis: {
               categories: [{% for entry in post_req %}'{{ entry.month }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
        },
      yAxis: {
          min: 0,
              title: {
              text: 'hits'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                           '<td style="padding:0"><b>{point.y}</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
      },
      plotOptions: {
          series: {
              label: {
                  connectorAllowed: false
              },
              pointStart: 0
          }
      },
      series: [{
          name: 'Total Post',
          data: [{% for entry in post_req %}{{ entry.y }}{% if not forloop.last %}, {% endif %}{% endfor %}],
            }, {
          name: 'Total Access',
                  data: [{% for entry in get_req %}{{ entry.y }}{% if not forloop.last %}, {% endif %}{% endfor %}],
          },{
              name: '# Data Compared',
                  data: [{% for entry in data_compared_req %}{{ entry.y }}{% if not forloop.last %}, {% endif %}{% endfor %}],
          }]
  });
  });
</script>
{% endblock javascripts %}
